@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

*{
    font-family: "Outfit", sans-serif;
}
@theme{
  --color-primary: #E6CCFF;
}
::-webkit-scrollbar {
 display:none;
}

.reset-tw :not(pre):not(code){
all: revert;
}
.loader div:nth-child(2){
  animation-delay: 0.2s;
}
.loader div:nth-child(3){
  animation-delay: 0.4s;
}
